<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body class="text-center  bg-gradient" >
        <header class="header navbar-light">
            <span class="t"><%= user.userName %>'s Watchlist</span>
            <a href="/logout" class="btn-sm btn-warning" id="logout-button">Logout</a>
        </header>

        <h2 class="text-dark" id="suggestion-box"> Not sure what to watch? Here's a suggestion.</h2>
        <div class="outer-movie-content-box mb-5">
            <div class="movie-title-and-image">
                <p id="incoming-title">
                    <%= movieTitle %>
                </p>
                <img src="<%= posterPath %>" id="incoming-img" class="figure-img img-fluid rounded">
            </div>
            <div class="movie-desc-box">
                <p>Description:<br></p>
                <p id="incoming-desc">
                    <%= movieDesc %>
                </p> 
            </div>
        </div>
    </body>

</html>